body {
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-size: 14px;
  letter-spacing: .2px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.25em;
  margin-bottom: .75em;
  font-weight: 600;
  line-height: 1.5;
}
#back-to-home {
  color: #34a986 !important;
  text-decoration: none;
}
#back-to-home:hover {
  text-decoration: none;
}
#wrapper {
  padding-top: 30px;
}
#toc::-webkit-scrollbar {
  width: 2px;
  background-color: #F5F5F5;
}
#toc::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccc;
}
#toc::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #F5F5F5;
}
#toc {
  position: fixed;
  left: 0;
  top: 100px;
  bottom: 0;
  width: 300px;
  z-index: 1;
  overflow-y: auto;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: #364149;
  background: transparent;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
}
#toc a {
  color: #364149;
}
#toc li ul {
  margin-left: 20px;
}
#toc li.active > a {
  color: #35a986;
}
#toc li ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  height: 8px;
  width: 6px;
  border-left: 1px solid #e7e7eb;
  border-bottom: 1px solid #e7e7eb;
}
#toc li ul li:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  height: 31px;
  width: 6px;
  border-left: 1px solid #e7e7eb;
}
#content {
  margin: 0 auto;
  padding: 0 15px;
  line-height: 2;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
}
#content .title {
  font-size: 1.5em;
  text-align: center;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eee;
}
#content .updateTime {
  text-align: center;
  margin-bottom: 1em;
}
#content h1 {
  font-size: 2em;
}
#content h2 {
  font-size: 1.75em;
}
#content h3 {
  font-size: 1.5em;
}
#content h4 {
  font-size: 1.25em;
}
#content p {
  margin-top: 0;
  margin-bottom: 0.85em;
}
#content p code {
  white-space: pre-wrap;
}
#content a {
  display: inline-block;
}
#content ol,
#content ul {
  padding-left: 1.5px;
  overflow-x: auto;
  margin-bottom: 0.5em;
}
#content ol li,
#content ul li {
  margin-bottom: 0.5em;
}
#content ol li ul,
#content ul li ul {
  margin-top: 0.5em;
}
#content img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  border: 1px solid #ccc;
}
#content blockquote {
  font-size: 1.0em;
  padding: 0 10px;
}
#content table {
  width: 80%;
}
#content table th,
#content table td {
  border: 1px solid #c5c5c5;
}
#content pre {
  border: none;
  padding: 0;
  font-size: 0.9em;
  line-height: 1.8;
}
#content code {
  font-family: Courier, Monaco, Consolas, "Liberation Mono", monospace;
  overflow-x: auto;
  white-space: pre;
  -ms-word-wrap: normal;
  word-wrap: normal;
}
#content #comment {
  position: relative;
}
#content #comment p {
  margin-bottom: 0.5em;
}
#content #comment code {
  white-space: pre-wrap;
}
#content #comment .reply {
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
}
#content #comment .form-control {
  background-color: transparent;
}
#content #comment .form-control:focus {
  border-color: #9fa2a5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#content #comment .comment-textarea {
  position: relative;
}
#content #comment .comment-textarea textarea {
  resize: none;
  font-size: 1em;
  line-height: 2;
}
#content #comment .comment-textarea .comment-bottom {
  position: absolute;
  width: 100%;
  height: 42px;
  bottom: -1px;
  right: 14px;
  border-top: 1px #ccc solid;
}
#content #comment .comment-textarea .comment-bottom p {
  display: inline-block;
  margin-left: 45px;
  font-size: 22px;
}
#content #comment .comment-textarea .comment-bottom p .emoji:hover {
  cursor: pointer;
}
#content #comment .comment-textarea .comment-bottom .submit {
  float: right;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #fff;
  padding: 0 30px;
  background-color: #737f87;
  border-bottom-right-radius: 4px;
}
#content #vNewComment label {
  font-weight: normal;
}
#content #vNewComment textarea {
  resize: none;
  font-size: 1em;
  line-height: 2;
}
#content #vNewComment .btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 100px;
}
#content #vNewComment .btn:focus,
#content #vNewComment .btn:active {
  outline: 0;
}
#settings,
#back-to-top {
  color: #34a986;
  position: fixed;
  right: 20px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  transition: all .3s;
}
#settings:hover,
#back-to-top:hover {
  transform: scale(1.5);
}
#settings.show,
#back-to-top.show {
  opacity: 1;
}
#settings {
  bottom: 60px;
}
#back-to-top {
  bottom: 20px;
}
#settings-panel {
  position: fixed;
  width: 160px;
  height: 162px;
  bottom: 110px;
  right: 20px;
  background-color: #fafafa;
  border: 2px #34a986 solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#settings-panel .line {
  border-bottom: 1px solid #cccccc;
  height: 40px;
}
#settings-panel .line button {
  border: none;
  background-color: transparent;
  float: left;
  line-height: 20px;
  color: #a6a6a6;
  font-size: 14px;
  text-align: center;
  padding: 8px 4px;
}
#settings-panel .line button:focus {
  outline: 0;
}
@media (min-width: 900px) {
  #content {
    font-size: 1.2em;
    max-width: 960px;
  }
  #content.showToc {
    margin: 0 auto;
  }
  #content ol,
  #content ul {
    padding-left: 30px;
  }
  #content blockquote {
    padding-left: 10px;
  }
  #content pre {
    padding: 10px;
  }
  #content p img {
    margin: 0 auto;
  }
  #content #vNewComment .btn {
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 300px;
  }
  .hljs {
    padding: 0.2em 1em;
  }
  .foot {
    margin-left: -40px;
    margin-right: -40px;
  }
  #back-to-top {
    bottom: 40px;
    right: 40px;
  }
  #settings {
    bottom: 80px;
    right: 40px;
  }
  #settings-panel {
    bottom: 130px;
    right: 40px;
  }
}
body.white .title {
  color: #34a986;
}
body.white #content {
  color: #444;
  background: #fff;
}
body.white #content .updateTime {
  color: #4d89b5;
}
body.white #content blockquote {
  border-left-color: #98cba3;
  background-color: #eae7e7;
}
body.white #content pre {
  background-color: #f1f3f7;
}
body.white #content pre code::-webkit-scrollbar {
  height: 6px;
  background-color: #F5F5F5;
}
body.white #content pre code::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #888;
  -webkit-width: 2px;
}
body.white #content pre code::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #bfbcbc;
}
body.white #content #vNewComment .btn {
  background: #5ab22f;
  border-color: #5ab22f;
  color: #fff;
}
body.white #content #vNewComment .btn:hover {
  background: #4e9b2a;
  border-color: #4e9b2a;
}
body.white #content #vNewComment .btn:focus {
  background: #4e9b2a;
  border-color: #4e9b2a;
}
body.white .hljs {
  background-color: #f1f3f7;
  border: none;
  border-radius: 3px;
}
body.white .hljs-comment {
  color: #aa5500;
}
body.white .hljs-keyword {
  color: #770088;
  font-weight: normal;
}
body.white .hljs-title {
  font-weight: 500;
  color: #ca210b;
}
body.night {
  background-color: #434343;
  color: #b8bfc6;
}
body.night hr {
  border-color: #7b7474;
}
body.night #toc a {
  color: #b8bfc6;
}
body.night #toc a:hover {
  background-color: #525252;
}
body.night #toc li.active > a {
  color: #35a986;
}
body.night #content .title {
  color: #DEDEDE;
}
body.night #content .updateTime {
  color: #DEDEDE;
}
body.night #content a {
  color: #72a8d6;
}
body.night #content img {
  -webkit-filter: opacity(0.7);
}
body.night #content blockquote {
  border-left-color: #6f9a78;
  background-color: #525252;
}
body.night #content p code:not(.hljs) {
  background-color: #a0a0a0;
  color: #423539;
}
body.night #content ul li code {
  background-color: #a0a0a0;
  color: #423539;
}
body.night #content pre {
  background-color: transparent;
  border-radius: 0;
}
body.night #content pre code::-webkit-scrollbar {
  height: 6px;
  background-color: #F5F5F5;
}
body.night #content pre code::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #888;
  -webkit-width: 2px;
}
body.night #content pre code::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #bfbcbc;
}
body.night #content .form-control {
  color: #b8bfc6;
  border-color: #7b7474;
}
body.night #content #vNewComment .btn {
  background: #596752;
  border-color: #7b7474;
  color: #b8bfc6;
}
body.night #content #vNewComment .btn:hover {
  background: #4e9b2a;
  border-color: #4e9b2a;
}
body.night #content #vNewComment .btn:focus {
  background: #4e9b2a;
  border-color: #4e9b2a;
}
body.night .hljs {
  color: #b5afaf;
  background-color: transparent;
  border: 1px #7b7474 solid;
  scrollbar-base-color: #DEDEDE;
  scrollbar-highlight-color: red;
}
body.night .hljs-comment {
  color: #629755;
}
body.night .hljs-keyword {
  color: #CC99CC;
  font-weight: normal;
}
body.night .hljs-title {
  font-weight: 500;
  color: #FFCC66;
}
body.night .hljs-number {
  color: #F99157;
}
body.night .hljs-string {
  color: #d27676;
}
body.night .hljs-meta {
  color: #4e90b1;
}
body.night #settings-panel {
  background-color: #808080;
}
body.yellow {
  background-color: #ffffee;
  color: #333;
}
body.yellow #content .title {
  color: #555;
}
body.yellow #content .updateTime {
  color: #555;
}
body.yellow #content a {
  color: #5183af;
}
body.yellow #content img {
  -webkit-filter: opacity(0.9);
}
body.yellow #content blockquote {
  border-left-color: #f7e0a1;
  background-color: #eaeaea;
}
body.yellow #content pre {
  background-color: transparent;
  border-radius: 0;
}
body.yellow #content pre code::-webkit-scrollbar {
  height: 6px;
  background-color: #F5F5F5;
}
body.yellow #content pre code::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #888;
  -webkit-width: 2px;
}
body.yellow #content pre code::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #bfbcbc;
}
body.yellow #content #vNewComment .btn {
  background: #5ab22f;
  border-color: #5ab22f;
  color: #fff;
}
body.yellow #content #vNewComment .btn:hover {
  background: #4e9b2a;
  border-color: #4e9b2a;
}
body.yellow #content #vNewComment .btn:focus {
  background: #4e9b2a;
  border-color: #4e9b2a;
}
body.yellow .hljs {
  color: #515c7f;
  background-color: transparent;
  border: 1px #DEDEDE solid;
  scrollbar-base-color: #DEDEDE;
  scrollbar-highlight-color: red;
}
body.yellow .hljs-comment {
  color: #558a48;
}
body.yellow .hljs-keyword {
  color: #b14655;
  font-weight: normal;
}
body.yellow .hljs-title {
  font-weight: 500;
  color: #104faf;
}
body.yellow .hljs-number {
  color: #F99157;
}
body.yellow .hljs-string {
  color: #ca4343;
}
body.yellow #settings-panel {
  background-color: #ffffee;
}
